html,
body {
  grid-area: "additoinal-text";
}
main {
  height: 100%;
}

::-moz-selection {
  background: #34495e;
  color: #fff;
}

::selection {
  background: #34495e;
  color: #fff;
}

.jumbotron {
  padding-top: 150px;
  padding-bottom: 500px;
  margin-bottom: 0;
}

.jumbotron1 {
  padding-top: 150px;
  padding-bottom: 150px;
  margin-bottom: 0;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.photo-cover {
  background: #34495e url("latitude-o-que-e-definicao-como-funciona-e-conceito-de-longitude-removebg-preview.png") no-repeat center center/cover fixed;
  background-size: 90%;
  height: 100%;
  width: 100%;
  position: relative;
}

.background-primary {
  background: #34495e;
}

.background-secondary {
  background: #2c3e50;
}

.large {
  font-size: 4em;
}

.medium {
  font-size: 2em;
}

/* Header */
.transparent {
  background: transparent;
}

.navbar-inverse {
  transition: all 0.2s ease-in;
}

.thumbnail {
  cursor: pointer;
  position: relative;
  display: flex;
}

.thumbnail-svg {
  flex: 1 0 auto;
  padding: 0.5em;
  max-height: 6em;
}

.thumbnail-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1abc9c;
  opacity: 0;
  transition: all 0.2s ease-in;
}

.thumbnail:hover .thumbnail-overlay {
  opacity: 1;
  transition: all 0.2s ease-in;
}

.full-screen {
  background: #eee;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  overflow-y: scroll;
}

.close-window {
  cursor: pointer;
}

#tesmort {
  background-color: #34495e;
  color: #fff;
}

.full-screen-calcul {
  background: #eee;
  height: 100%;
  width: 200%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  overflow-y: scroll;
}
.center-calcul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%);
}

#dgshfcfgyurgeng {
  text-align: left;
}

#graphique {
  position: relative;

}

.lastclose {
    cursor: pointer;
    white-space: normal;
    padding: 10px 19px;
    font-size: 17px;
    line-height: 1.471;
    border-radius: 6px;
    color: #ffffff;
    background-color: #e74c3c;
    display: block;
    width: 75%;
}

.img_formule {
  width: 50%;
}

.img_formule2 {
  width: 110%;
}

.text_formule {
  font-size: 30px;
  width: 120%;
}
